@tailwind base;
@tailwind components;
@tailwind utilities;

.react-pdf__Page {
  max-width: 100%;
  height: auto;
}

.react-pdf__Page__canvas {
  max-width: 100%;
  height: auto !important;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #e5e7eb #ffffff;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 10px;
  transition: background 0.2s;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d1d5db;
}